/***** RESPONSIVE CSS FOR MAXK.SE *****/

@media screen and (min-width: 920px) {

  body {
    font-size: 1.1em;
  }

  header {
    margin-top: 20px;
    margin-bottom: 0;
  }

  footer {
    margin-top: -60px;
  }

  #titel {
    font-size: 6em;
}

  #undertitel {
    font-size: 2em;
  }

  .job-container {
    padding-top: 8%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    margin-bottom: 0;
  }

  .job-container img {
    position: relative;
    float: left;
    margin: 0 0 0 0;
    width: 45%;
    padding: 20 0 0 0;
  }

  .text-box {
    position: relative;
    padding: 20 0 0 0;
    width: 45%;
    float: right;
  }

  .next, .prev {
    top: 42%;
    font-size: 70px;
  }

}
